*
!.gitignore
!makefile
!*.bib
!*.bst
!*.css
!*.clo
!*.cls
!*.dot
!*.forest
!*.html
!*.ipynb
!*.latexmain
!*.lua
!*.mdown
!*.py
!*.sed
!*.sh
!*.svg
!*.sty
!*.tex
!*.tikz
!jupyter/
!jupyter/**/
!notebooks/
!notebooks/**/
!pdf/
!pdf/**/
!includes/
!scripts/
!source/
!source/**/
!templates/
!templates/**/
!build/
!build/**/
**/.ipynb_checkpoints/

